<p>Listado de Libros </p>

<div class="container">

    <table class="table table-striped">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Papel</td>
          <td>Estado</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actor of actores">
          <td>{{actor.actor_name}}</td>
          <td>{{actor.character_name}}</td>
          <td>{{actor.status}}</td>
          <td><button (click)="update(actor.id)">Update</button></td>
          <td><button (click)="remove(actor.id, actor.status)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>